<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reservation template</title>

    <style>

        .container {
            padding: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .name {
            font-weight: 700;
        }

        .date {
            font-weight: 700;
        }

        .footer {
            margin-top: 12px;
            /* display: flex; */
            /* justify-content: space-between; */
            /* align-items: center; */

        }

        .footer .info {
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            /* width: 50%; */
        }

        .footer .info .details {
            padding-left: 16px;
        }

        .footer .contact {
            margin-top: 8px;
        }

        .footer .label {
            font-weight: 700;
        }

        .separator {
            height: 20px;
        }

    </style>
</head>

<body>
<div class="container">
    <div>Spoštovani!</div>
    <div class="separator"></div>
    <div>Zahtevali ste ponastavitev gesla za uporabnika s uporabniškom imenom: <span class="name">{{username}}</span>.</div>
    <div>S klikom na to <a href="{{url}}">povezavo</a> si lahko ustvarite novo geslo.</div>
    <div class="separator"></div>
    <div class="separator"></div>
    <div>Lepo pozdravljeni,</div>
    <div class="info">
        <!--            <img width="200" src="{{logo}}">-->
        <div class="details">
            <div class="label">AIPAN</div>
<!--            <div class="label">Tržaška cesta 87B</div>-->
<!--            <div class="label">6230 Postojna</div>-->
<!--            <div class="label">Slovenija</div>-->
        </div>
    </div>
<!--    <div class="contact">-->
<!--        <div>E-mail: <span class="label">hidravliks@siol.net</span></div>-->
<!--        <div>GSM: <span class="label">+386 5 720 39 35</span></div>-->
<!--    </div>-->

</div>
</body>
</html>
